@using TCC_LOSPACO.CustomHtmlHelper
@model dynamic

<div data-id="@Global.GetValue(Model.Object, "Name")" class="row justify-content-center cart-item">
    <div class="row no-wrap s-wrap content align-items-center xxl-w p-3">
        <div class="s-col-12" style="max-width: 80px; height: 70px;">
            <div class="circle bg-white cursor-pointer delete-item-btn z-1 row center-elements position-absolute">
                @CustomHtmlHelper.SendRequest(new { name = Global.GetValue(Model.Object, "Name") }, new {
               Action = "/Cart/RemoveCartItem",
               Method = "post",
               OnSuccess = "OnRemoveCartItem",
               OnFailure = "OnRemoveCartItemFailure",
               Loader = ".main-loader"
           }, "fas fa-times red")
            </div>
            <a class="max-size" href=@Url.Action("Service", "Home", new { id=TCC_LOSPACO.DAO.ServiceDAO.GetByName(Global.GetValue(Model.Object, "Name")).Id })><img src="@CustomHtmlHelper.ImageSource(Global.GetValue(Model.Object, "Image"))" class="max-size img-img" alt="@Global.GetValue(Model.Object, "Name")"></a>
        </div>
        <div class="item-text s-col-6 fg-1">
            <div class="m-x-3 s-m-x-none m-y-2-child">
                <div class="item-header font-jos f-2">@Global.GetValue(Model.Object, "Name")</div>
                <div class="font-inc">R$ @Global.GetValue(Model.Object, "Price")</div>
            </div>
        </div>
        <div class="row justify-content-end item-qty s-col-6">
            <input type="number" value='@Global.GetValue(Model.Object, "Quantity")' class="input-anim item-quantity-input text-align-center" required style="width: 70px;">
        </div>
    </div>
</div>