@model TCC_LOSPACO.Models.ItemSale

<div data-selected="false" class="data-item vertical-align-top" data-id="@Model.Id" data-name="@Model.Name" data-table-of="Sale">
    <div data-zoom="1.02, .5s"
         class="data-content cursor-pointer row center-elements bg-white max-size">
        <div class="row col-12-child m-y-2-child">
            <div class="f-3 name">@Model.Name</div>
            <div class="f-1 id">@Model.Id</div>
            <div class="f-1 date">@ViewBag.SaleDate</div>
        </div>
    </div>
</div>